.menu{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) !important;
  border-color: #fff !important;

  a{
    color: #fff !important ;
  }
}

.main{
  display: block;
  margin: 8% auto;
  width: 60% ;

  @media (max-width: 768px) {
    margin: 15% auto;
  }
}