.menu{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) !important;
  border-color: #fff !important;

  a{
    color: #fff !important ;
  }
}

.main{
  display: block;
  margin: 8% auto 0 auto;
  width: 60% ;

  @media (max-width: 768px) {
    margin: 15% auto;
  }

  .show-modal{
    display: block;
    width: 45px ;
    height: 45px;
    padding: 13px 8px 13px 8px ;

    position: fixed;
    bottom: 4%;
    right: 4%;

    color: #fff;
    font-size: 25px;
    background: linear-gradient(141deg, #0fb8ad 0%, #2cb5e8 75%);
    border-radius: 50%;
  }

  .cards{
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card{
      margin: 0 0 6% 0;

      a {
        font-size: 20px;

        .download:hover{
          color: #2cb5e8;
        }

        .delete:hover{
          color: #e74c3c;
        }
      }
    }
  }
}

.content{
  padding-top: 20px;
  text-align: center;

  .file{
    width: 300px !important;
    margin-bottom: 20px !important;
  }
}