<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drop&Go - {% block title %}{% endblock %}</title>

    {# Tab's color for chrome on mobile #}
    <meta name="theme-color" content="#5c6bc0">

    {% block stylesheets %}
        {# Favicon #}
        <link rel="icon" type="image/png" href="favicon.png" />
        {# Import Google Icon Font #}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# Import materialize.min.css #}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/semantic.min.css') }}"  media="screen,projection"/>
        {# Import style app #}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>

<body>
    {# Navigation #}


    {# Content of pages #}
    <div class="pusher">
        {% block body %}{% endblock %}
    </div>


    {% block javascripts %}
        {# Import jQuery #}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script src="{{ asset('js/vendor.js') }}"></script>

        {# Import materialize.min.js #}
        <script type="text/javascript" src="{{ asset('js/semantic.min.js') }}"></script>
    {% endblock %}
</body>
</html>