<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drop&Go - {% block title %}{% endblock %}</title>

    {# Tab's color for chrome on mobile #}
    <meta name="theme-color" content="#1b1c1d">

    {% block stylesheets %}
        {# Favicon #}
        <link rel="icon" type="image/png" href="favicon.png" />
        <link type="text/css" rel="stylesheet" href="{{ asset('css/semantic.css') }}"  media="screen,projection"/>
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    {% endblock %}
</head>

<body>
    {% include 'components/sidebar.html.twig' %}

    <div class="pusher">
        {# Content of pages #}
        {% block body %}{% endblock %}
    </div>


    {% block javascripts %}
        {# Import jQuery #}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script src="{{ asset('js/vendor.js') }}"></script>

        {# Import materialize.min.js #}
        <script type="text/javascript" src="{{ asset('js/semantic.min.js') }}"></script>

        <script>
            $('.ui.sidebar').sidebar('attach events', '.show-sidebar', 'show');
        </script>
    {% endblock %}
</body>
</html>