{% extends 'template.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
    <div class="container">
        <h1>Help</h1>

        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="zmdi zmdi-account-add"></i>S'inscrire</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-account"></i>Se connecter</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-account-o"></i>Se déconnecter</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-globe"></i>Changer la langue</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-cloud"></i>Accéder à Drop&Go</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-cloud-upload"></i>Mise en ligne de fichiers</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-cloud-download"></i>Téléchargement de fichiers</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-copy"></i>Copie de fichiers</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-delete"></i>Suppression de fichiers</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}